.input-container {
  margin-bottom: 15px;
}

.register-input {
  font-family: "DM Sans", sans-serif;
  background: #292929;
  border-radius: 3.81584px;
  height: 45px;
  width: 350px;
  outline: none;
  border: none;
  color: white;
  padding-left: 20px;
}

.input-container .error {
  text-align: left;
  font-size: 12px;
  color: #f70d1a;
  padding: 4px 0 0 2px;
}
